body,
html {
  background-color: #fff;
  font-size: 16px;
}
body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main-container {
  padding-top: 30px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h1 {
  font-size: 26px;
  margin: 0 0 20px;
  text-align: center;
}
header {
  color: #999;
  text-align: center;
  margin: 0 0 20px;
}
@media screen and (max-width: 768px) {
  header {
    text-align: left;
  }
}
.nav-pills {
  text-align: center;
  margin-bottom: 20px;
}
.nav-pills > li {
  float: none;
  font-size: 16px;
  display: inline-block;
}
textarea.paste-css-input {
  height: 145px;
}
.main-panel .panel-body {
  padding-bottom: 15px;
  min-height: 273px;
}
.options {
  color: #5b6c6e;
}
.options label {
  font-weight: normal;
}
.options .checkbox {
  margin: 0 0 15px;
}
@media screen and (max-width: 660px) {
  .options .form-group {
    float: none !important;
  }
}
.copyright {
  font-size: 12px;
  text-align: center;
}
form.loading:after {
  content: "\00a0";
  display: inline-block;
  margin-left: 6px;
  height: 22px;
  width: 22px;
  background: url(loader.gif) no-repeat 0 0;
  vertical-align: middle;
}
.drag-n-drop {
  border: 2px dashed #ccc;
  overflow: hidden;
  position: relative;
  padding: 60px 20px;
  height: 145px;
}
.drag-n-drop-placeholder {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #ccc;
}
.bg-info .drag-n-drop-placeholder {
  color: #fff;
}
.drag-n-drop input[type=file] {
  background: none;
  border: none;
  outline: none;
  margin-left: -100%;
  width: 200%;
  position: absolute;
  padding: 0;
  top: 0;
  height: 100%;
}
.drag-n-drop.bg-info input[type=file] {
  cursor: copy;
}
.form-control {
  font-size: 16px;
}
.color-panels .panel {
  background: transparent url(transparent.gif) repeat 0 0;
}